.nav {
  height: 100px;
  width: 100%;
  background-color: #e6b17e;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #47290e;
}

.mobileMenuIcon {
  font-size: 2.5em;
  margin-right: 10px;
  cursor: pointer;
}

.logoTitle {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 2em;
  margin-left: 10px;
  color: #47290e;
  text-decoration: none;
}

.fullOverlay {
  position: absolute;
  width: 1024px;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.mobileMenu {
  height: 300px;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #47290e;
  color: #fefae0;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
  font-size: 1.1em;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mobileMenu_itemActive {
  text-decoration: none;
  color: #dda15e;
  transition: 0.2s all;

  font-weight: bold;
}

.mobileMenu_itemNotActive {
  text-decoration: none;
  color: #fefae0;
}

.mobileMenu span {
  position: absolute;
  right: 0;
  top: 5px;
}

.desktopNav {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

.desktopNav_itemActive {
  color: #47290e;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1.1);
  transition: 0.2s all;
}
.desktopNav_itemNotActive {
  color: #47290e;
  text-decoration: none;
}

.desktopNav_item:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

.desktopSearchIcon {
  cursor: pointer;
  transition: 0.2s all;
  padding: 10px;
  user-select: none;
}

.desktopSearchIcon:hover {
  transform: rotate(45deg);
}

.desktopSearchHidden {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  border: none;
  transition: 0.2s all;
}

.desktopSearchShown {
  position: relative;
  width: 200px;
  height: 20px;
  transition: 0.2s all;
}

.desktopSearchBtnHidden {
  border: none;
  width: 0px;
  height: 0px;
  padding: 0px;
  font-size: 0px;
  pointer-events: none;
  transition: 0s all;
  margin-left: 10px;
}

.desktopSearchBtnShown {
  transition: 0.1s all;
  margin-left: 10px;
  color: #e6b17e;
  background-color: #47290e;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.desktopSearchBtnShown:hover {
  color: #47290e;
  background-color: #fefae0;
}

@media screen and (max-width: 1024px) {
  .desktopNav {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mobileMenu,
  .fullOverlay,
  .mobileMenuIcon {
    display: none;
  }
}
